input {
  display: none;
}

.circle label {
  color: blue;
  cursor: cell;
  font-weight: 350;
  line-height: 10px;
  font-size: 24px;
  vertical-align: middle;
  margin: auto;
}

.circle label:before {
  content: " ";
  display: inline-block;
  width: 40px;
  height: 40px;
  background: none;
  border: 3px solid #000000;
  margin: 0;
  vertical-align: middle;
  border-radius: 50%;
}

.circle input:checked + label:before {
  content: " ";
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
  background-image: radial-gradient(#e66465, #9198e5, rgb(3, 250, 155));
  border: 3px solid #0000;
  vertical-align: middle;
  background-size: contain;
}
.text label {
  color: cornflowerblue;
  cursor: pointer;
  font-weight: 350;
  line-height: 10px;
  font-size: 24px;
  vertical-align: middle;
  margin: auto;
}
.text input:checked + label {
  color: blueviolet;
}
.picture label {
  color: darkgoldenrod;
  cursor: cell;
  font-weight: 350;
  line-height: 10px;
  font-size: 24px;
  vertical-align: middle;
  margin: auto;
}
.picture label:before {
  content: " ";
  display: inline-block;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #000000;
  margin: 0;
  vertical-align: middle;
}

.picture input:checked + label:before {
  content: " ";
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  margin: 0;
  background: url(unnamed.jpg) 100% 100% no-repeat;
  vertical-align: middle;
  background-size: cover;
}
