h2 {
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  color: cyan;
  text-align: center;
  font-weight: bolder;
  font-size: 26px;
  position: relative;
  left: 5%;
}

.suck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto auto 0;
}

img {
  width: 100%;
  height: 100%;
}
.Souls {
  width: 1280px;
  height: 720px;
  text-align: center;
  position: relative;
}

.CounterBut {
  display: block;
  width: 100px;
  height: 40px;
  color: darkslateblue;
  font-size: 30px;
}
.Countercount {
  color: red;
  font-size: 30px;
}
.CounterView {
  display: flex;
  flex-wrap: nowrap;

  position: relative;
  margin: 20px 40px 10px 0;
}

.chocolate {
  color: chocolate;
}
.red {
  color: red;
}
.green {
  color: green;
}
.Counterlistviewdiv {
  width: auto;
}
.Counterlistvievbut {
  display: block;
  width: 400px;
  height: 90px;
  color: darkslateblue;
  font-size: 30px;
  position: relative;
  left: 39%;
}
.Counterlistviewdiv2 {
  position: relative;
  width: 92%;
  left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
